/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import "tailwindcss";
/* button::before{
  content:"";
  position:absolute;
  left:10px;
  top:50%;
  transform:translateY(-50%);
  width:24px;
  height:24px;
  background:url("/paw.png");
  background-size:contain;
  background-repeat:no-repeat;
  image-rendering:pixelated;
} */
/* PIXEL SHADOW BOX */
.pixel-box{
  box-shadow:
    8px 8px 0px #1b2312,
    inset -4px -4px 0px #9fb36a,
    inset 4px 4px 0px #e3f0b8;
}

/* PIXELE FONT */
.pixelete-font {
  font-family: 'Pixelete', monospace;
}

/* PIXEL CAT GIF */
.pixel-cat {
  image-rendering: pixelated;
}

/* MODAL DROP ANIMATION */
@keyframes drop {
  0%{
    transform: translateY(-200px) scaleY(0.6);
    opacity:0;
  }
  60%{
    transform: translateY(20px) scaleY(1.05);
    opacity:1;
  }
  100%{
    transform: translateY(0) scaleY(1);
  }
}

.animate-drop{
  animation: drop 0.55s cubic-bezier(.2,.8,.2,1);
}

/* PIXEL IMAGE RENDER */
.pixel-art{
  image-rendering: pixelated;
}

/* FOOD SPAWN ANIMATION */
@keyframes spawnFood{
  0%{
    transform: translateY(80px) scale(0.2);
    opacity:0;
  }
  60%{
    transform: translateY(-10px) scale(1.15);
    opacity:1;
  }
  100%{
    transform: translateY(0px) scale(1);
  }
}

.food-spawn{
  animation: spawnFood .6s steps(6);
}


